@font-face {
    font-family: 'Nerd Fonts Symbols';
    src: url('https://morril-2300.github.io/assets/NerdFontsSymbolsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    color-scheme: light dark;
}

:root {
  color-scheme: light dark;
  --background: #000;
}

@media (prefers-color-scheme: light) {
  :root {
      --foreground: #000;
      --background: #fff;
      --link-color: #33c;
      --link-hover: #009;

      --tint-pink:   #ff47f032;
      --tint-red:    #E4030332;
      --tint-orange: #FF8C0032;
      --tint-yellow: #FFED0032;
      --tint-green:  #00af2c32;
      --tint-blue:   #004CFF32;
      --tint-violet: #73298232;
    } 
}

@media (prefers-color-scheme: dark) {
  :root {
      --foreground: #ccc;
      --background: #000;
      --link-color: #88f;
      --link-hover: #33c;

      --tint-pink:   #ff47f064;
      --tint-red:    #E4030364;
      --tint-orange: #FF8C0064;
      --tint-yellow: #FFED0064;
      --tint-green:  #00af2c64;
      --tint-blue:   #004CFF64;
      --tint-violet: #73298264;
  }
}

html, body {
  background-color: var(--background) !important;
  background: var(--background);
  height: 100%;
  min-width: max-content;
}

/* === Input Fields === */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
textarea::-webkit-scrollbar {
  width: 8px;
  background: #f1f1f1;
}

input, textarea {
  color: var(--foreground);
  background-color: var(--background);
  border: 1px solid var(--foreground);
  width: 100%;
  border-radius: 0px;
  box-sizing: border-box;
  transition: border-color 0.2s, box-shadow 0.2s;
  outline: none;
}

input[type=text],
input[type=number],
textarea {
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}
input[type=text],
input[type=number] {
  height: 25px;
}
textarea {
  resize: none;
  scrollbar-width: thin;
}
input[type=checkbox] {
  padding: 0;
  margin: 0;
  width: 20px !important;
  height: 20px !important;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--foreground);
  background-color: var(--background);
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
input[type="checkbox"]:checked::before {
  content: "✓";
  text-align: center;
  justify-content: center;
  font-size: 14px;
  color: var(--foreground);
  position: absolute;
  top: 0;
  left: 4px;
}


/* === Outputs and Labels ===*/
output {
  font-family: monospace;
  width: 3ch;
  font-size: medium;

}
label {
  font-variant: small-caps;
  height: min-content;
  font-size: x-small;
  text-align: start;
  padding-left: 2px;
  vertical-align: top;
}

label.link {
  text-decoration: underline;
  color: var(--link-color);
  cursor: pointer;
}
label.link:hover {
  color: var(--link-hover);
}

/* === Header === */

.title {
  font-family: sans-serif;
  font-weight: 300;
  width: max-content;
  background: #663366;
  font-variant: small-caps;
  font-size: larger;
  border-radius: 4px;
  text-align: center;
  padding: 5px 10px 0px 10px;
  color: white;
}

.button-like,
.exportButton {
  font-variant: small-caps;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: center;
  background-color: #ff9933;
  border: 1px solid #f2673a;
}
.exportButton {
  background-color: #38a64e;
  border: 1px solid #29665d;
}

.button-like:hover {
  background-color: #f2673a;
}
.exportButton:hover {
  background-color: #29665d;
}

label.section-title {
  font-size: larger;
}

/* === Buttons === */


.x-button,
.plus-button {
  font-family: monospace;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: auto;
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground);
  border-radius: 2px;
}

.plus-button {
  align-self: center;
  justify-self: center;
  text-align: center;
}


/**************************************
**************************************/

body {
  font-family: sans-serif;
  margin: 0;
  padding: 1rem;
  background: #f0f0f0;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.top > .buttons {
  justify-self: right;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
}

.sheet {
  background: var(--background);
  padding: 15px 20px 20px 20px;
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.char-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.char-header div[name=left] {
  width: 99%;
  justify-self: left;
}
.char-header div[name=right] {
  width: 99%;
  justify-self: right;
  bottom: 0;
}

.char_info {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
}
.char_info > div {
  width: 95%;
}
.char_info textarea {
  min-height: 25px;
}

.level > input {
  align-self: center;
  text-align: right;
}
.level > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.level > div > label {
  text-align: right;
  font-size: x-small;
  vertical-align: bottom;
}
.level > div > input {
  justify-self: right;
  text-align: right;
  font-size: 10xp;
  height: 15px;
  width: 20px;
  border-style: dashed;
}

.profbonus {
  text-align: center;
}

.survivability {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1px;
}
.survivability div {
  width: 90%;
}

.survivability > div > input#ac,
.survivability > div > input#hpMax,
.survivability > div > input#hpTemp,
.survivability > div > input#hpCur {
  text-align: center;
}
.survivability > div > input#hitDice,
.survivability > div > input#hitDiceExp {
  padding-left: 5px;
}

.death-saves {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.death-saves > input {
  width: 100%;
  height: 100%;
}
.death-saves > label {
  width: 200%;
}

/***********************************************************************************************

MAIN BLOCK

***********************************************************************************************/

.box {
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
}
.char-header {
  padding-bottom: 0;
}

.attributes {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  width: 100%;
  align-items: stretch;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attributes .column {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  height: 100%;
}

.attr-col,
.attr-col-extra {
  display: flex;
  flex-direction: column;
  padding: 2px 5px 0 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
}
.attr-col > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0;
}
.attr-col label {
  flex: 1;
  text-align: left;
}
.attr-col input,
.attr-col output {
  flex: 0 0 auto;
  text-align: right;
  min-width: 3ch;
  max-width: 20px;
}
.attr-col input[type="number"] {
  text-align: center;
}
.attr label {
  font-weight: 800;
}

.saving-throw label {
  font-variant: normal;
  font-weight: 100;
}

.skill label {
  font-size: xx-small;
}
input.skillprof,
.saving-throw input {
  align-self: center;
  justify-self: center;
  width: 10px;
  height: 14px;
  font-size: 10px;
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 2px;
}

.inspiration {
  display: flex;
  flex-direction: column;
}
.inspiration label {
  font-size: medium;
  text-align: center;
}
.inspiration input {
  align-self: center;
  width: 28px;
  height: 28px;
  margin-bottom: 5px;
}


.attr-extra {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.attr-extra div input,
.attr-extra div textarea {
  padding: 0 1px;
  font-size: x-small;
}
.attr-extra div input {
  text-align: center;
}

.attr-col-extra {
  background: var(--tint-pink);
}
.attr-col.str {
  background: var(--tint-red);
}
.attr-col.dex {
  background: var(--tint-orange);
}
.attr-col.con {
  background: var(--tint-yellow);
}
.attr-col.int {
  background: var(--tint-green);
}
.attr-col.wis {
  background: var(--tint-blue);
}
.attr-col.cha {
  background: var(--tint-violet);
}

.personality{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.all_features,
.notes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

/* === INFO BLOCK === */

.info {
  padding-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}
.info > .col {
  display: flex;
  flex-direction: column;
}

/* === PROFICIENCIES === */

.def-prof {
  padding: 2px;
  margin-bottom: 2px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.single_def-prof {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.single_def-prof > label {
  font-family: sans-serif,'Nerd Fonts Symbols';
} 

/* === SCALABLE LIST === */

.scalable-list {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.scalable-list .scalable-list-row {
  display: grid;
  grid-template-columns: 20px 1fr; 
  column-gap: 10px;
  width: 100%;
  align-items: start; 
}

/* -- Features -- */
.feature-row button, 
.inventory-row button{
  padding: 0;
  margin-top: 1px;
}

textarea.grow {
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Hide scrollbars */
  box-sizing: border-box;
}

/* === INVENTORY === */

.currency_list {
  padding: 2px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 20px;
}
.currency_list > label {
  font-size: large;
}

.single_currency {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}
.single_currency > * {
  text-align: center;
}

/* === ATTACKS === */

.attacks {
  display: grid;
  grid-template-columns: 1fr;
}

.atk-list div {
  display: grid;
  grid-template-columns: 22px 3fr 1fr 2fr 3fr;
  column-gap: 10px;
}
.remove,
.rm-atk {
  text-align: center;
}
.atk-list div label {
  font-size: small;
  padding-bottom: 2px;
}
.atk-list div label {
  text-decoration: underline;
}



.add_notes {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  height: 100%;
}






/* 
    SPELLCSATING (PAGE 2)
*/

.spellcasting-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 2px;
}

.slot-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}

.slot-row label {
  width: 40px;
}

.spell-slot > input,
.spell-list div label.center {
  text-align: center;

}
.spell-header,
.spell {
  display: grid;
  grid-template-columns: 20px 20px 20px 5fr 1fr 1fr 20px 20px 20px 20px 20px 1fr 3fr 8fr 20px;
  gap: 2px;
}

.spell-list > div > input[type="text"],
.spell-list > div > input[type="number"] {
  box-sizing: border-box;
  font-family:monospace;
  font-size: small;
}
.spell-list > div > input {
  justify-self: center;
  align-self: center;
}
.spell-list > div > .lvl,
.spell-list > div > .dur,
.spell-list > div > .time,
.spell-list > div > .range {
  text-align: center;
}

.spell label {
  margin-left: 10px;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;
}

.spell-list > div > input.name,
.spell-list > div > input.effect,
.spell-list > div > input.notes {
  font-size: small;
}
